<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Doctor x - about</title>
  <!-- Aqui chamamos o nosso arquivo css externo -->
  <link rel="stylesheet" type="text/css"  href="../../../assets/css/style1.css" />
  <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
</head>

<body>
  <nav>
    <ul class="menu">
      <li><a href="/menuprincipalsecretaria">Home</a></li>
        <li><a href="">Agenda</a>
          <ul>
              <li><a href="/addagendasecretaria">Adicionar</a></li>
              <li><a href="/consultaagendasecretaria">Consultar</a></li>
              <li><a href="/construcaos">Excluir</a></li>
            </ul>
          </li>
          <li><a href="#">Paciente</a>
            <ul>
              <li><a href="/addpacientesecretaria">Adicionar</a></li>
              <li><a href="/construcaos">Consultar</a></li>
              <li><a href="/construcaos">Excluir</a></li>
            </ul>
            </li>
        <li><a href="/abouts">Sobre</a></li>
        <li><a href="/">Logoff</a></li>           
  </nav>
  <br>
  <div id="container-principal">
    <div id="titulo">
      <h1>Version </h1>
    </div>
    <div class="formulario">
     
        <div class="row" align="center">
          Version 1.11.4.0
        </div>
        <div class="row" align="center">
          <br>
        </div>
        <div class="row" align="center">
        Created by 'Johnny' and 'Andre'
        </div>
        <div class="row" align="center">
            <br>
        </div>
          <div class="row" align="center">
              If you want to know more about this software<br>
              Please, contact us.
          </div>
          <div class="row" align="center">
              <br>
          </div>
            <div class="row" align="center">
                contact@doctorsoftware.com
            </div>
        
    </div>

  </div>

</body>

</html>