<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Doctor - Cadastrar Paciente</title>
    <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css" href="../css/style1.css" />
    <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
</head>

<body>
    <nav>
        <ul class="menu">
            <li><a href="/menuprincipal">Home</a></li>
            <li><a href="">Agenda</a>
                <ul>
                    <li><a href="/addagenda">Adicionar</a></li>
                    <li><a href="#">Consultar</a></li>
                    <li><a href="#">Excluir</a></li>
                </ul>
            </li>
            <li><a href="#">Paciente</a>
                <ul>
                    <li><a href="#">Adicionar</a></li>
                    <li><a href="#">Consultar</a></li>
                    <li><a href="#">Excluir</a></li>
                </ul>
            </li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Logoff</a></li>
        </ul>
    </nav>
    <br>
    <div id="container-principal">
        <div id="titulo">
            <h1>CADASTRAR PACIENTE</h1>
        </div>
        <div class="formulario">
            <form id="formAdd">
                <div class="row">
                    <label for="nomePaciente">
                        <input type="text" class="inputs width-larga" id="nomePaciente" placeholder="Nome do Paciente">
                    </label>
                </div>
                <div class="row">
                    <label for="nasc">Nasc.
                        <input type="date" class="inputs" id="data">
                    </label>

                    <label for="telefone">
                        <input type="text" class="inputs" id="telefone" placeholder="Telefone">
                    </label>
                </div>

                <div class="row">
                    <div id="sexo">
                        <label for="masc">Masculino
                            <input type="radio" name="sexo" id="masc" value="Masculino">
                        </label>
                        <div style="width:50px;"></div>
                        <label for="fem">Feminino
                            <input type="radio" name="sexo" id="fem" value="Feminino">
                        </label>
                        
                    </div>
                </div>
                <div class="row">
                    <label for="endereco">
                        <input type="text" class="inputs width-larga" id="endereco" placeholder="Endereço">
                    </label>
                </div>
                <div class="row">
                        <label for="cep">CEP
                                <input type="text" id="cep" class="inputs numeros" placeholder="CEP">
                            </label>
                        <label for="cpf">CPF
                                <input type="text" id="cpf" class="inputs numeros" placeholder="CPF">
                            </label>
                </div>

                <div class="row">
                        <label for="username">
                                <input type="text" id="username" class="inputs" placeholder="Usuário">
                            </label>
                            <label for="password">
                                    <input type="password" id="password" class="inputs" placeholder="Senha">
                                </label>
                </div>
                <div class="row">
                    <label for="adicionar">
                        <input type="submit" class="btnSubmit" name="cadastrar" value="Cadastrar">
                    </label>
                </div>

            </form>
        </div>

    </div>

</body>

</html>