<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>

<body>
    <div class="login">
        <h1>LOGIN</h1>
        <input type="text" class="inputLogin" placeholder="Username">
        <input type="password" class="inputLogin" placeholder="Password">
        <input type="submit" class="btnLogin" value="Login">
    </div>
</body>
</html>