<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">

<head>
    <link rel="stylesheet" href="../css/menuprincipal.css">
    <title>Secretaria - "DOCTOR 1.0"</title>
    
   

<body>

        <nav id="menu">
                <ul>
                    <li><a href="./menuPrincipal">Home</a></li>
                    <li><a href="../construcao/">Agenda</a></li>
                    <li><a href="../construcao/">Paciente</a></li>
                    <li><a href="../construcao/">Contato</a></li>
                    <li><a href="../">Logoff</a></li>
                </ul>
            </nav>

	<div id="addAgenda">

        Modificação para testar o git no github
 
	</div>

<body>

</html>