<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <title>Doctor x</title>
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="../../../assets/css/style1.css" />
    <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->   
</head>
<body>
<nav>
  <ul class="menu">
        <li><a href="/menuprincipalsecretaria">Home</a></li>
        <li><a href="">Agenda</a>
          <ul>
              <li><a href="/addagendasecretaria">Adicionar</a></li>
              <li><a href="/consultaagendasecretaria">Consultar</a></li>
              <li><a href="/construcaos">Excluir</a></li>
            </ul>
          </li>
          <li><a href="#">Paciente</a>
            <ul>
              <li><a href="/addpacientesecretaria">Adicionar</a></li>
              <li><a href="/consultaPacientes">Consultar</a></li>
              <li><a href="/construcaos">Excluir</a></li>
            </ul>
            </li>
        <li><a href="/abouts">Sobre</a></li>
        <li><a href="/">Logoff</a></li>                
</ul>
</nav>
<br>
 

</body>
</html>