<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
    <title>Doctor x</title>
     <!-- Aqui chamamos o nosso arquivo css externo -->
    <link rel="stylesheet" type="text/css"  href="../../../assets/css/style1.css" />
    <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->   
</head>
<body>
<nav>
  <ul class="menu">
    <li><a href="/menuprincipalfisio">Home</a></li>
        <li><a href="">Agenda</a>
          <ul>
              <li><a href="/consultaagendafisio">Consultar</a></li>
            </ul>
          </li>
          <li><a href="/construcaof">Paciente</a>
            <ul>
              <li><a href="/construcaof">Andamento</a></li>
              <li><a href="/construcaof">Liberar Exercicio</a></li>
              <li><a href="/construcaof">Relatorio</a></li>
            </ul>
            <li><a href="">Exercicios</a>
              <ul>
                  <li><a href="/construcaof">Cadastrar</a></li>
                </ul>
             </li>
            </li>
        <li><a href="/aboutf">Sobre</a></li>
        <li><a href="/">Logoff</a></li>               
</ul>
</nav>
<br>
  <div id="construcao">
    PAGINA CONSTRUCAO
  </div>

</body>
</html>