<!DOCTYPE HTML>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Doctor x - about</title>
  <!-- Aqui chamamos o nosso arquivo css externo -->
  <link rel="stylesheet" type="text/css" href="../css/style1.css" />
  <!--[if lte IE 8]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
</head>

<body>
  <nav>
    <ul class="menu">
      <li><a href="/menuprincipal">Home</a></li>
      <li><a href="">Agenda</a>
        <ul>
          <li><a href="/addagenda">Adicionar</a></li>
          <li><a href="/consultaagenda">Consultar</a></li>
          <li><a href="/excluiragenda">Excluir</a></li>
        </ul>
      </li>
      <li><a href="#">Paciente</a>
        <ul>
          <li><a href="/paciente">Adicionar</a></li>
          <li><a href="/consultarpaciente">Consultar</a></li>
          <li><a href="/excluirpaciente">Excluir</a></li>
        </ul>
      </li>
      <li><a href="/about">Sobre</a></li>
      <li><a href="/">Logoff</a></li>
    </ul>
  </nav>
  <br>
  <div id="container-principal">
    <div id="titulo">
      <h1>Version </h1>
    </div>
    <div class="formulario">
     
        <div class="row" align="center">
          Version 1.11.4.0
        </div>
        <div class="row" align="center">
          <br>
        </div>
        <div class="row" align="center">
        Created by 'Johnny' and 'Andre'
        </div>
        <div class="row" align="center">
            <br>
        </div>
          <div class="row" align="center">
              If you want to know more about this software<br>
              Please, contact us.
          </div>
          <div class="row" align="center">
              <br>
          </div>
            <div class="row" align="center">
                contact@doctorsoftware.com
            </div>
        
    </div>

  </div>

</body>

</html>